<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.common.ui.examples">
      <example
            id="org.eclipse.emf.ecp.emf2web.wizards.Web"
            pageImage="icons/emf_forms_logo_56x48.png"
            wizardID="org.eclipse.emf.ecp.emf2web.wizards.WebWizard">
         <projectDescriptor
               contentURI="projects/org.eclipse.emf.ecp.emf2web.playapplication/"
               description="Default Play Application"
               name="org.eclipse.emf.ecp.emf2web.playapplication">
         </projectDescriptor>
         <projectDescriptor
               contentURI="projects/org.eclipse.emf.ecp.emf2web.api.test/"
               description="Java Web API Testcase"
               name="org.eclipse.emf.ecp.emf2web.api.test">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.emf.ecp.makeithappen.wizards.EMFForms"
            class="org.eclipse.emf.ecp.makeithappen.internal.wizards.MakeItHappenWizard"
            icon="icons/emf_forms_icon.png"
            id="org.eclipse.emf.ecp.emf2web.wizards.WebWizard"
            name="Create Web Application and Java API Testcase"
            project="true">
      </wizard>
   </extension>
</plugin>
