<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               id="org.eclipse.emf.ecp.ui.e3.emfFormsMenu"
               label="EMF Forms">
            <command
                  commandId="org.eclipse.emf.ecp.emf2web.Emf2WebCommand"
                  icon="icons/full/obj16/view.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.emf.ecp.view.model.editor.ecoreSelected">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.ecp.emf2web.actions.Emf2WebCommand"
            id="org.eclipse.emf.ecp.emf2web.Emf2WebCommand"
            name="Convert To Web">
      </command>
   </extension>

</plugin>
