<div ng-switch on="control.type" class="form-group top-buffer" ng-class="control.wholesize">

    <label for="control.name" ng-class="control.labelclass">{{control.name}}</label>

    <div ng-class="control.inputclass">
        <input ng-switch-when="string" type="text" ng-model="bindings[control.name]" id="control.name" class="form-control" name="control.name" />

        <input ng-switch-when="number" type="text" ng-model="bindings[control.name]" ui-validate=" 'validateNumber($value, control)' " id="control.name" class="form-control" name="control.name" />

        <input ng-switch-when="integer" type="text" ng-model="bindings[control.name]" ui-validate=" 'validateInteger($value, control)' " id="control.name" class="form-control" name="control.name" />

        <div ng-switch-when="boolean" class="checkbox-inline" for="control.value">
            <input type="checkbox" ng-model="bindings[control.name]" name="control.name" id="control.name" />&nbsp;
        </div>

        <div ng-switch-when="date-time" class="input-group">
            <input type="text" datepicker-popup="dd.MM.yyyy" ng-model="bindings[control.name]" close-text="Close" is-open="control.isOpen" id="control.name" class="form-control" name="control.name" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDate($event,control)"><i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>

        <select ng-switch-when="enum" ng-model="bindings[control.name]" ng-options="option as option for option in control.options" id="control.name" class="form-control" name="control.name"></select>

        <alert ng-repeat="alert in control.alerts" type="{{alert.type}}" class="top-buffer-s">{{alert.msg}}</alert>
    </div>
</div>
